@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap");
// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Inter";
$fontSize: rem(16); // размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #e4e5ea; // Цвет шрифта по умолчанию
$blue: #4077f3;
$black: #0e1014;
$gray: #656566;
// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1140;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	transition: opacity 0.3s ease 0s;
	background-color: $black;
	// Сайт загружен
	.loaded & {
		opacity: 1;
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// .wrapper__decor
	&__decor {
		position: absolute;
		z-index: -1;
		// .wrapper__decor_1
		&_1 {
			top: rem(-2);
			left: 59%;
			@media (max-width: $mobile) {
				height: rem(40);
				width: rem(40);
				top: rem(300);
				left: 93%;
				filter: drop-shadow(3px 6px 27px rgba(177, 118, 217, 0.25)) blur(5px);
				img {
					max-width: 100%;
					height: 100%;
				}
			}
		}
		// .wrapper__decor_2
		&_2 {
			top: rem(83);
			left: 35.2%;
			filter: drop-shadow(3px 6px 27px rgba(223, 125, 125, 0.25));
			@media (max-width: $mobile) {
				height: rem(43);
				width: rem(43);
				left: rem(15);
				top: rem(447);
				filter: blur(10px);
				img {
					max-width: 100%;
					height: 100%;
				}
			}
		}
		// .wrapper__decor_3
		&_3 {
			@media (min-width: $mobile) {
				top: rem(500);
				left: 57%;
			}
			@media (max-width: $mobile) {
				display: none;
			}
		}
		// .wrapper__decor_4
		&_4 {
			background-color: #961a1a;
			opacity: 0.5;
			filter: blur(150px);
			height: rem(311);
			width: rem(311);
			border-radius: 50%;
			top: rem(250);
			left: rem(-100);
		}
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

//========================================================================================================================================================
.page {
	// .page__welbex
	&__welbex {
		padding: rem(70) 0;
		@media (max-width: $mobile) {
			padding: rem(40) 0 rem(60);
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: lightgray 0% 0% / 100px 100px repeat;
				mix-blend-mode: overlay;
			}
		}
	}
}
